*{
    font: 14px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
}

form{
    background-color: #ccc;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0px 0px 15px #5d5d5d;
}

img{
    width: 150px;
    margin-bottom: 40px;
}

input[type="text"],
input[type="number"]{
    width: 86%;
    padding: 2%;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

input[type="button"]{
    background-color: #000;
    border-radius: 8px;
    border: none;
    padding: 2% 5%;
    color: #fff;
}

table{
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: #e8e8e8;
}

th{
    padding: 15px;
    background-color: black;
    color: #fff;
}

button{
    background-color: #000;
    border-radius: 8px;
    border: none;
    padding: 3% 5%;
    color: #fff;
}