*{
    font: 14px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
}

div{
    width: 610px;
    margin: 50px auto;
}

button{
    width: 200px;
    height: 150px;
    padding: 30px;
    margin-bottom: 5px;
}
