<form action="/cadastrar" method="post">
    <input type="text" name="nome" placeholder="Receita" class="form-control">
    <input type="text" name="ingredientes" placeholder="Ingredientes" class="form-control">
    <input type="text" name="preparo" placeholder="Modo de preparo" class="form-control">
    <input type="text" name="rendimento" placeholder="Rendimento" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
</form>


<ul>
    {{#each vetor}}
    <li>
        <a href="/descricao/{{id}}">
            {{nome}}
        </a>
    </li>
    {{/each}}
</ul>