<form action="/pesquisar" method="post">
    <input type="text" name="banda" placeholder="Banda" class="form-control">
    <input type="text" name="musica" placeholder="Musica" class="form-control">
    <input type="submit" value="Pesquisar" class="btn btn-primary">
</form>